MOVIEAPI_API_KEYS=
MOVIEAPI_AUTH_REQUIRED=false
MOVIEAPI_RATE_LIMIT=120
MOVIEAPI_RATE_WINDOW_MS=60000
MOVIEAPI_TVMAZE_BASE_URL=https://api.tvmaze.com
MOVIEAPI_TVMAZE_USER_AGENT=MovieApi/0.2.0 (Kinoma)
MOVIEAPI_TVMAZE_TIMEOUT_MS=8000
PORT=3000
MOVIEAPI_TMDB_ACCESS_TOKEN=
MOVIEAPI_TMDB_BASE_URL=https://api.themoviedb.org/3
MOVIEAPI_TMDB_TIMEOUT_MS=8000
